#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 1em;
  padding: 1.5em;
}

main {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  align-content: stretch;
  width: 100%;
}

.previewWindow, 
.editorWindow {
  border: 0.5px solid rgba(191, 156, 248, 0.327);
  min-height: 40vh;
  min-width: 40vw;
  padding: 1em 1em;
  flex-grow: 1;
}

.dateBox {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1em;
}

.educationCard {
  display: block;
  text-align: left;
  line-height: 10%;
  margin: 1em;
}

.workCard {
  display: block;
  text-align: left;
  line-height: 10%;
  margin: 1em;
}

.removeBtn {
  font-size: xx-small;
  margin: auto;
  align-self: flex-end;
}

.workBox, .eduBox {
  border: 0.5px solid rgba(191, 156, 248, 0.327);
}